.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

.main-content {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
}

.timer-presets-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 20px 0;
}

.timer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.timer-box label {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.timer-box input {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.current-timer {
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  background-color: #f4f4f4;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.current-timer h2 {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.current-timer h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}

.button-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.start-button {
  background-color: #4caf50;
  color: white;
  border: none;
}

.start-button:hover {
  background-color: #45a049;
}

.reset-button {
  background-color: #f44336;
  color: white;
  border: none;
}

.reset-button:hover {
  background-color: #d32f2f;
}

.pause-button {
  background-color: #ccc;
  color: white;
  border: none;
}

.pause-button:hover {
  background-color: #fb8c00;
}